<mat-card class="login-card">
  <form class="login-form">
    <mat-form-field class="login-field" appearance="fill">
      <mat-label>Usuario:</mat-label>
      <input matInput required [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}">
      <!-- <mat-hint>Es un campo obligatorio</mat-hint> -->
    </mat-form-field>
    <br>
    <mat-form-field class="login-field" appearance="fill">
      <mat-label>Contraseña:</mat-label>
      <input matInput required type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
      <!-- <mat-hint>Es un campo obligatorio</mat-hint> -->
    </mat-form-field>
    <br>
    <button mat-button color="primary" (click)="doLogin()">Iniciar sesión</button>
  </form>
</mat-card>